exportPattern("^[[:alpha:]]+")
importFrom("stats", "shapiro.test")
importFrom("stats", "sd")
importFrom("stats", "prcomp")
importFrom("stats", "na.omit")
importFrom("stats", "as.formula")
importFrom("stats", "nls")
import("performance")
import("nlme")
